.App {
  height: 700px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.App-body-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

div.hidden {
  visibility: collapse;
}